{% extends 'base.html.twig' %}

{% block title %}Edit UserController{% endblock %}

{% block body %}
    <h1>Edit UserController</h1>

    {{ include('user_controller/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_controller_index') }}">back to list</a>

    {{ include('user_controller/_delete_form.html.twig') }}
{% endblock %}
