{% extends 'base.html.twig' %}

{% block title %}UserController index{% endblock %}

{% block body %}

    <div class="pure-u-1-4"></div>
    <div class="pure-u-2-5">
        {% for sortie in sorties %}
{#        <h1>{{ sortie.organisateur.pseudo }}</h1>#}
        <br><br><br>
        <table class="table">
            <tbody>
            <tr>
                <th>Prenom</th>
                <td>??</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>??</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>??</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>??</td>
            </tr>
            <tr>
                <th>Ville de rattachement</th>
                <td>??</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('sortie_index') }}" class="button-secondary pure-button button-xlarge pure-input-rounded m-5">Retour</a>

{% endfor %}
    </div>

{% endblock %}
