@import url('//fonts.googleapis.com/css?family=Josefin+Slab:400,700');

.texty{
    font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;
}

#date{
    float:right;
}

tr{
    text-align: center;
}

.pure-table{
    background-color: white;
    display: block;
    vertical-align: center;
    horiz-align: center;
}

.pure-menu-list{
    float: right;
}

/*---------- Taille des boutons ----------*/

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

/*---------- Couleur des boutons ----------*/

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}

/*---------- Photo de fond d'écran ----------*/
/*body {*/
/*    background-image:url(https://c2.staticflickr.com/6/5515/9199788659_818383d0b8_k.jpg);*/
/*}*/
/*#menu,*/
/*#date,*/
/*#texte {*/
/*    background-color: white;*/
/*}*/