@import url('//fonts.googleapis.com/css?family=Josefin+Slab:400,700');

.texty{
    font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;
}

#date{
    float:right;
}

tr{
    text-align: center;
}

.pure-table{
    background-color: white;
    display: block;
    vertical-align: center;
    horiz-align: center;
}

.pure-menu-list{
    float: right;
}