{% extends 'backOffice.html.twig' %}

{#  je recupère le contenu du block parent #}
{% block title %} Home {{ parent() }} {% endblock %}

{% block body %}

    <h3>Ceci est la page home du back office</h3>


{% endblock %}
