{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}


{% block body %}

        <!-- Placeholder text from http://hipsteripsum.me/ -->
            <h1>Créer une sortie</h1>
            <div class="st-deco" data-icon="&#xf069;"></div>
            <div class="pure-group">
                {{ include('sortie/_form.html.twig') }}
            </div>


    <a href="{{ path('sortie_index') }}">back to list</a>
{% endblock %}
