{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}


{% block body %}

        <!-- Placeholder text from http://hipsteripsum.me/ -->

                <div class="pure-u-1-5"></div>
                <div class="pure-u-1-4">
                    <h1>Créer une sortie</h1>

                </div>
                <div class="pure-u-1-5"></div>
    {{ include('sortie/_form.html.twig') }}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% endblock %}

{% endblock %}
