{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}


{% block body %}

        <!-- Placeholder text from http://hipsteripsum.me/ -->

                <div class="pure-u-1-5"></div>
                <div class="pure-u-1-4">
                    <h1>Créer une sortie</h1>

                </div>
                <div class="pure-u-1-5"></div>
    {{ include('sortie/_form.html.twig') }}

{% endblock %}
