{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}


{% block body %}

        <!-- Placeholder text from http://hipsteripsum.me/ -->

            <div class="pure-g">
                <div class="pure-u-1-4"></div>
                <div class="pure-u-1-2">
                    <h1>Créer une sortie</h1>
                    {{ include('sortie/_form.html.twig') }}
                    <a href="{{ path('sortie_index') }}">back to list</a>
                </div>
                <div class="pure-u-1-4"></div>

            </div>


{% endblock %}
