<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} | Back Office {% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css"
          integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    {# <link href="{{ asset('CSS/style.css') }}" rel="stylesheet"> #}
    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>

{% set route_name = app.request.attributes.get('_route') %}

<nav class="navbar navbar-expand-lg ">
    <div class="container">

        <div class="pure-menu pure-menu-horizontal" id="menu">
            <ul class="pure-menu-list">
                <li class="pure-menu-item" {% if route_name == "ajouter_participant" %} active{% endif %}>
                    <a href="{{ path('ajouter_participant') }}" class="pure-menu-link">Ajouter un participant
                    {% if route_name == "ajouter_participant" %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Gérer les villes</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Gérer les sites</a>
                </li>
                <li class="pure-menu-item">
                    <a href="{{ path ('app_logout') }}" class="pure-menu-link">Déconnexion</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<hr>

<div class="container">
</div>
</body>
</html>
